html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.menu {
	background-color: white;
	width: 100%;
	height: auto;
	float: left;
}

.menu a {
	padding: 0.5%;
	background-color: lightskyblue;
	color: black;
	min-height: 10%;
	width: 24%;
	height: auto;
	float: left;
	text-align: center;
	text-decoration: none;
}

.menu a:hover {
	background-color: lightsteelblue ;
}

.active{
	background-color: turquoise !important;
}

.content {
	margin-top: 1%;
	background-color: white;
	min-height: 85%;
	height: auto;
	width: 100%;
	float: left;
	text-align: center;
}

.footer {
	min-height: 5%;
	height: auto;
	width: 100%;
	float: left;
	background-color: lightskyblue;
}

.footer, a {
	color: black;
	text-align: center;
	text-decoration: none;
}

p { 
	text-align: center;
	color:black;
	margin-left: 250px;
	margin-right: 250px;
}

.photos {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#logo {
	height: 300px;
	width: auto;
}

img {
	height: 300px;
	width: 600px;
}

video {
	width: 50%;
	height: 50%;
}


#newp {
	width: 50%;
	background-color: lightblue;
	padding: 1%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 1%;
	float: left;
}

#delete, #edit {
	float: right;
	padding: 1%;
}

button {
	margin-top: 1%;
}
